<% include ../partials/header.ejs %>

<div class="container">
    <h1 class="mt-4 mb-4 text-center">Edit review"</h1>
    <form class="ml-4" action="/products/<%= product_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label>Review</label>
            <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
    <a class="m-4" href="/products/<%= product_id %>">Go Back</a>
</div>

<% include ../partials/footer.ejs %>